
@font-face{
    font-family: "aller-rg";
    src: url("fonts/Aller_Rg.ttf") format("truetype");
}

.capa{
    display: table;
    width: 100%;
}

body{
    font-family: aller-rg, 'Lucida Sans Regular', sans-serif;
    overflow-x: hidden; 
}

/* Botão menu */

.navbar-default .navbar-toggle .icon-bar{
    background: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: none;
}

/* Fim Botão menu */

.navbar{
    background-color: #038090;
    padding: 10px;
    border: none;
}

/* Barra de Navegação */

.navbar-brand{
    padding-top: 0;
}

.img-logo{
    height: 50px;
    width: 50px;
    display: block;
    background: url('img/simbolo-logo-branco.png') no-repeat;
    background-size: contain;
    color: transparent;
}

#barra-navegacao{
    margin-right: 20px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    margin-top: 5px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 20px;
}

.navbar-default .navbar-nav>li>a:hover {
    font-weight: 600;
    color: white;
}


/* Fim da Barra de Navegação */

#img-home{
    margin: 20px auto;
}

#img-celular2{
    margin: 20px auto;
}


/* Tipografia */


h1{
    font-size: 40px;
}


p{
    font-size: 25px;
    line-height: 30px;
}

/*Tipografia Home*/
.texto{
    margin: 0 auto;
    padding-right: 20px;
}

.texto2{
    margin: 0 auto;
    line-height: 46px;
}

.texto2>h2{
    font-size: 40px;
}

.texto>h2{
    font-weight: 500;
    font-size: 55px;
    padding: 10px 0;
    
}

.texto>h3{
    font-size: 40px;
}
/*Fim Tipografia Home*/




/* Fim Tipografia */



.vertical-align{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/** O que é? **/

#oque{
    margin-bottom: 10px;
    text-align: center;
    padding: 50px 0;
    background: #EEEEEE;
}

#oque h2{
    text-align: center;
    color: #038090;
}

#oque p{
    text-align: center;
}

/** Como funciona? **/

.comofunciona{
    margin-top: 10px;
}

.comofunciona>div>h2{
    text-align: right;
}

.comofunciona>div>img{
    margin-left: 50px;
    float: left;
}

.sou_monitor{
    padding: 30px 0;
}

.comofunciona_monitor{
    margin-bottom: 10px;
}

.comofunciona_monitor>div>h2{
    text-align: left;
}

.comofunciona_monitor>div>img{
    margin-left: 50px;
    float: right;
}

.sou_universitario{
    padding: 30px 0;
}

#comofunciona h1{
    text-align: center;
}

#comofunciona h2{
   font-size: 30px;
}

#universitario img{
    height: 100px;
    padding: 10px;
}

#universitario p{
    font-size: 20px;
}

.universitario{
    padding: 10px 0;
    margin-top: 30px;
    text-align: center;
}

/* Fim Como funciona? **/

/* Registrar-se */

.btn-primary {
    margin-top: 15px;
    margin-left: 20px; 
    color: #fff;
    background-color: #038090;
    border-color: none;
    border-radius: 10px;
}

#registrar{
    padding: 70px 0;
}

#registrar h1{
    padding: 0 40px;
    font-weight: 500;
    font-size: 40px;
}

/* Fim Registrar-se */

#rodape{
    background-color: #263238;
    text-align: center;
    padding: 100px 0; 
}

@media only screen and (min-width:768px) and (max-width: 988px){
    #registrar h1{
    padding: 0 40px;
    font-weight: 300;
    font-size: 30px;
    }

}


@media only screen and (max-width: 767px) {

    .comofunciona>div>h2{
        text-align: center;
    }

    .comofunciona>div>img{
        margin: 0;
    }

    .comofunciona_monitor>div>h2{
        text-align: center;
    }

    .comofunciona_monitor>div>img{
        margin: 0;
    }

    .texto>h2{
        text-align: center;
        font-size: 40px;
    }

    .texto>h3{
        text-align: center;
        font-size: 22px;
    }

    #img-home{
        margin-top: 50px;
        height: 450px;
    }

    #registrar h1{
    text-align: center;
    padding: 0 40px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 30px;
    }

    #registrar .form-group{
        padding: 0 10px;
    }

    #registrar .checkbox{
        padding: 0 10px;
    }

    #rodape{
        padding: 50px 0;
    }

    #rodape img{
        padding: 15px 0;
    }

}
